In [1]:
import numpy as np
import matplotlib.pyplot as plt
import os
import pandas as pd
movies=pd.read_csv('movies1.csv')

C:\Users\kunal bondla\AppData\Local\Temp\ipykernel_7584\42314915.py:4: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

In [2]:
movies.head((5))

,id,Title,Genre,Overview
0,1,The Shawshank Redemption,Drama,Two imprisoned men bond over a number of years...
1,2,The Godfather,"Crime, Drama",An organized crime dynasty's aging patriarch t...
2,3,The Dark Knight,"Action, Crime, Drama",When the menace known as the Joker wreaks havo...
3,4,The Godfather: Part II,"Crime, Drama",The early life and career of Vito Corleone in ...
4,5,12 Angry Men,"Crime, Drama",A jury holdout attempts to prevent a miscarria...

In [3]:
movies.shape

(1000, 4)

In [4]:
movies.isnull().sum

<bound method DataFrame.sum of         id  Title  Genre  Overview
0    False  False  False     False
1    False  False  False     False
2    False  False  False     False
3    False  False  False     False
4    False  False  False     False
..     ...    ...    ...       ...
995  False  False  False     False
996  False  False  False     False
997  False  False  False     False
998  False  False  False     False
999  False  False  False     False

[1000 rows x 4 columns]>

In [5]:
movies.dropna(inplace=True)

In [6]:
movies.shape

(1000, 4)

In [7]:
movies.duplicated().sum()

0

In [8]:
movies['Tags'] = movies['Overview'] + movies['Genre']

In [9]:
movies.head()

,id,Title,Genre,Overview,Tags
0,1,The Shawshank Redemption,Drama,Two imprisoned men bond over a number of years...,Two imprisoned men bond over a number of years...
1,2,The Godfather,"Crime, Drama",An organized crime dynasty's aging patriarch t...,An organized crime dynasty's aging patriarch t...
2,3,The Dark Knight,"Action, Crime, Drama",When the menace known as the Joker wreaks havo...,When the menace known as the Joker wreaks havo...
3,4,The Godfather: Part II,"Crime, Drama",The early life and career of Vito Corleone in ...,The early life and career of Vito Corleone in ...
4,5,12 Angry Men,"Crime, Drama",A jury holdout attempts to prevent a miscarria...,A jury holdout attempts to prevent a miscarria...

In [10]:
new_df = movies[['id','Title','Tags']]

In [11]:
new_df.head()

,id,Title,Tags
0,1,The Shawshank Redemption,Two imprisoned men bond over a number of years...
1,2,The Godfather,An organized crime dynasty's aging patriarch t...
2,3,The Dark Knight,When the menace known as the Joker wreaks havo...
3,4,The Godfather: Part II,The early life and career of Vito Corleone in ...
4,5,12 Angry Men,A jury holdout attempts to prevent a miscarria...

In [12]:
new_df.head()

,id,Title,Tags
0,1,The Shawshank Redemption,Two imprisoned men bond over a number of years...
1,2,The Godfather,An organized crime dynasty's aging patriarch t...
2,3,The Dark Knight,When the menace known as the Joker wreaks havo...
3,4,The Godfather: Part II,The early life and career of Vito Corleone in ...
4,5,12 Angry Men,A jury holdout attempts to prevent a miscarria...

In [13]:
from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer(max_features=5000,stop_words='english')

In [14]:
vector = cv.fit_transform(new_df['Tags']).toarray()

In [15]:
vector

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]], dtype=int64)

In [16]:
from sklearn.metrics.pairwise import cosine_similarity

cosine similarities

In [17]:
similary = cosine_similarity(vector)

In [18]:
similary

array([[1.        , 0.0745356 , 0.06622662, ..., 0.07216878, 0.06622662,
        0.        ],
       [0.0745356 , 1.        , 0.17770466, ..., 0.06454972, 0.05923489,
        0.09759001],
       [0.06622662, 0.17770466, 1.        , ..., 0.05735393, 0.05263158,
        0.0433555 ],
       ...,
       [0.07216878, 0.06454972, 0.05735393, ..., 1.        , 0.1720618 ,
        0.        ],
       [0.06622662, 0.05923489, 0.05263158, ..., 0.1720618 , 1.        ,
        0.        ],
       [0.        , 0.09759001, 0.0433555 , ..., 0.        , 0.        ,
        1.        ]])

In [19]:
similary.shape

(1000, 1000)

In [20]:
new_df[new_df['Title'] == '12 Angry Men'].index[0]

4

In [21]:
def recommend(movie):
    index = new_df[new_df['Title'] ==movie].index[0]
    distances = sorted(list(enumerate(similary[index])), reverse = True , key = lambda x: x[1])
    for i in distances[1:6]:
        print(new_df.loc[i[0]]['Title'])

checking system

In [22]:
recommend('12 Angry Men')

Do lok tin si
Les quatre cents coups
Du rififi chez les hommes
The Sting
The Godfather

In [23]:
recommend('The Dark Knight')

Batman Begins
Kill Bill: Vol. 1
Baby Driver
The Dark Knight Rises
Joker

In [24]:
recommend('The Godfather: Part II')

The Godfather: Part III
Les quatre cents coups
Drishyam
The Godfather
American Gangster

In [25]:
recommend('The Godfather: Part II')

The Godfather: Part III
Les quatre cents coups
Drishyam
The Godfather
American Gangster

In [26]:
import pickle 

pickle.dump(new_df, open('artifacts/movie_list.pkl','wb'))
pickle.dump(similary, open('artifacts/similarity.pkl','wb'))